<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:slack="http://www.mulesoft.org/schema/mule/slack"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<http:request-config
		name="Cognitive_Request_configuration"
		doc:name="HTTP Request configuration">
		<http:request-connection protocol="HTTPS"
			host="api.cognitive.microsofttranslator.com" />
	</http:request-config>
	<configuration-properties
		doc:name="Configuration properties" file="properties.yaml" />
	<slack:config name="Slack_Config" doc:name="Slack Config">
		<slack:token-connection
			token="xoxb-179233091381-1475659351648-bznhayq358bBqay8LxGi3W0wOASGmNhXn50nY" />
	</slack:config>
</mule>
